@{
    ViewData["Title"] = "Home Page";
}
@model ExchangeQueryModel

<script type="text/javascript">

    var myLineChart;

    $(document).ready(function () {
        getChart();

        //validation START
        var form = $('#currencyForm')
        formData = $.data(form[0])
        settings = formData.validator.settings
        oldErrorPlacement = settings.errorPlacement
        oldSuccess = settings.success;

        settings.errorPlacement = function (label, element) {

            oldErrorPlacement(label, element);
            label.parents('.form-group').addClass('has-error');
            label.addClass('text-danger');
        };

        settings.success = function (label) {
            label.parents('.form-group').removeClass('has-error');
            oldSuccess(label);
        };
        //validation END
        //key timeout START
        var textInput = document.getElementById("tbAmount");
        var timeout = null;
        textInput.onkeyup = function (e) {
            clearTimeout(timeout);
            timeout = setTimeout(calculate, 500);
        };
        //key timeout END
    });

    function calculate() {
        if (!$("#currencyForm").valid())
            return

        console.log("valid")
        $.ajax({
            type: "POST",
            url: '/Home/OnGetExchangeRate',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                currencyFrom: document.getElementById("dlCurrencyFrom").value,
                currencyTo: document.getElementById("dlCurrencyTo").value,
                amount: document.getElementById("tbAmount").value.replace(".", ","),
                direction: true
            }
        }).done(function (data) {
            document.getElementById("tbResult").value = data.toFixed(2);
        })
    }
    function swap() {
        getChart();
        temp = document.getElementById("dlCurrencyFrom").value,
        document.getElementById("dlCurrencyFrom").value = document.getElementById("dlCurrencyTo").value,
        document.getElementById("dlCurrencyTo").value = temp

        if (document.getElementById("tbAmount").value.length > 0)
            calculate()
    }

    function getChart() {
        $.ajax({
            type: "POST",
            url: "/Home/OnGetHistoricalData",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                currencyFrom: document.getElementById("dlCurrencyFrom").value,
                currencyTo: document.getElementById("dlCurrencyTo").value
            }
        }).done(function (data) {
            plotChart(data)
        })
    }

    function plotChart(data) {
        if (myLineChart && myLineChart.chart)
            myLineChart.chart.destroy();

        var ctx = $("#myChart").get(0).getContext("2d");
        myLineChart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: data.map(x => x.x.substring(0, 10)),
                datasets: [{
                    label: document.getElementById("dlCurrencyFrom").value + " to " + document.getElementById("dlCurrencyTo").value,
                    data: data,
                    borderColor: "#3e95cd",
                    fill: false
                }]
            },
            options: {
            }
        });
        myLineChart.update();
    }

</script>
<form id="currencyForm" method="post">
    <br />
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
                @Html.DropDownListFor(Model => Model.CurrencyFrom,
                                    (SelectList)ViewData["SelectList"],
                                    null, new { id= "dlCurrencyFrom", onchange = "getChart()", value = "EUR", @class = "form-control" })
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(Model => Model.Amount, null, new { id = "tbAmount", @class = "form-control", type = "number", maxlength = 20 })
                @Html.ValidationMessageFor(Model => Model.Amount)
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-link center-block">
                    <span class="glyphicon glyphicon-transfer" onclick="swap();"></span>
                </button>
            </div>
            <div class="col-sm-2">
                @Html.DropDownListFor(Model => Model.CurrencyTo,
                   (SelectList)ViewData["SelectList"],
                   null, new { id= "dlCurrencyTo", onchange = "getChart()", value = "EUR", @class = "form-control" })
            </div>
            <div class="col-sm-3">
                @Html.TextBox("tbResult", null, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
</form>

<canvas id="myChart"></canvas>



