@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    function calculate() {
            $.ajax({
                type: "POST",
                url: '/Home/OnGetExchangeRate',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {
                    currencyFrom: document.getElementById("dlCurrencyFrom").value,
                    currencyTo: document.getElementById("dlCurrencyTo").value,
                    amount: document.getElementById("tbAmount").value.replace(".", ","),
                    direction: true
                }
            }).done(function (data) {
                document.getElementById("tbResult").value = data.toFixed(2);
            })
    }
    function swap() {
        temp = document.getElementById("dlCurrencyFrom").value,
        document.getElementById("dlCurrencyFrom").value = document.getElementById("dlCurrencyTo").value,
        document.getElementById("dlCurrencyTo").value = temp
        calculate()
    }

    function validate() {
        var errorMsgs = [];
        if (document.getElementById("dlCurrencyFrom").value.length == 0)
            errorMsgs.push("Please select your currency!");

        if (document.getElementById("dlCurrencyTo").value.length == 0)
            errorMsgs.push("Please select your target currency!");

        if (document.getElementById("tbAmount").value.length == 0)
            errorMsgs.push("Please enter the amount you want to convert!");

        return errorMsgs;
    }
</script>
<form method="post">
    <input type="button" value="Calculate" class="btn btn-default" onclick="calculate();" />
    <input type="button" value="Swap" class="btn btn-default" onclick="swap();" />
    @Html.DropDownList("dlCurrencyFrom",
                    new SelectList(Model),
                    "Select Currency")
    @Html.DropDownList("dlCurrencyTo",
                    new SelectList(Model),
                    "Select Currency")
    @Html.TextBox("tbAmount")
    @Html.TextBox("tbResult")
    @Html.ValidationSummary()
</form>


